header{
    background-image: url("img/smart-home-guide-header.webp");
    height: 300px;
    background-size: cover; 
    color: #e5e5e5; 
    
}

body {

    background-color: #e5e5e5;
}

.blokksarga {
    background: #fca311;
    color: #000000;
    padding: 20px;
}

.blokkpiros {
    background: #ff3b3b;
    color: #000000;
    padding: 20px;
}

.blokkvilagossarga {
    background: #ffbf58;
    padding: 20px;
}
.blokkturkiz{
    background: #52a397 ;
    color: #000000;
    padding: 20px;
}
.blokksotturkiz{
    background: #0a3a33dc;
    color: #e5e5e5;
    padding: 20px;
}
.blokkvilagoskek{
    background-color: #4287f5;
    color: #e5e5e5;
    padding: 20px;
}

.fiz_img {
    width: 100%;
    height: auto;
}

.vis_img {
    width: 100%;
    height: auto;
}
.vis_td {
    width: 30%;
}
