header{
    background-image: url("img/smart-home-guide-header.webp");
    height: 300px;
    background-size: cover;
    color: #e5e5e5;

}

body {

    background-color: #e5e5e5;
}

.blokksarga {
    background: #fca311;
    color: #000000;
    padding: 20px;
}
.blokknarancs    {
    background: #cc8118;
    color: #000000;
    padding: 20px;
}

.blokkpiros {
    background: rgba(255, 59, 59,0.5);
    color: #000000;
    padding: 20px;
}
.blokkbordo{
    background-color: #4d000a;
    color: #e5e5e5;
    padding: 20px;
}
.blokkkek{
    background: #14213d;
    color: #ffffff;
    padding: 20px;
}

.blokkvilagossarga {
    background: #e4ad54;
    padding: 20px;
}
.blokkturkiz{
    background: #52a397 ;
    color: #000000;
    padding: 20px;
    text-align: justify;

}
.blokksotturkiz{
    background: #0a3a33dc;
    color: #e5e5e5;
    padding: 20px;
    text-align: justify;
}
.blokkvilagoskek{
    background-color: #4287f5;
    color: #e5e5e5;
    padding: 20px;
}
.blokkforvilvilkek{
    background-color: #8ca0c9;
    color: #e5e5e5;
    padding: 20px;
}


.blokkforvilkek{
    background-color: #536585;
    color: #e5e5e5;
    padding: 20px;
}
.blokkforsotkek{
    background-color: #003559;
    color: #e5e5e5;
    padding: 20px;
}
.blokkforsotsotkek{
    background-color: #001e31;
    color: #e5e5e5;
    padding: 20px;
}

.fiz_img {
    width: 100%;
    height: auto;
    text-align: center;
}
.fiz_td{
    width: 40%;

}

.vis_img {
    width: 100%;
    height: auto;
}
.vis_td {
    width: 30%;
}

.maki {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #14213d;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 25px;
}

.kartya:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    position: absolute;
    white-space: nowrap;
    color: white;
    font-size: 20px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.kicsiiras{
    font-size: 20px;
}
.szovegkit {
    text-align: justify;
}
.fooldal{
    color: #313131;
}
.vicc {
  color:  #bad5e7;
}
.forras{
    color:#93b2c6;
}

@media screen and (max-width:992px){
    .vis_td {
        width: 0px;
    }
}

@media screen and (max-width:992px){
    .fiz_td {
        width: 0px;
        padding: 0px !important;
    }
}

@media screen and (max-width:992px){
    .kicsiiras {
        font-size: 15px;
    }
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(120, 120, 120);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(65, 69, 70);
    border-radius: 10px;
  }